## Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. [DBFS](https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html) is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in **Python** so the default cell type is Python. However, you can use different languages by using the `%LANGUAGE` syntax. Python, Scala, SQL, and R are all supported.

In [2]:
# File location and type
file_location = "/FileStore/tables/sales_info.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

_c0,_c1,_c2
Company,Person,Sales
GOOG,Sam,200
GOOG,Charlie,120
GOOG,Frank,340
MSFT,Tina,600
MSFT,Amy,124
MSFT,Vanessa,243
FB,Carl,870
FB,Sarah,350
APPL,John,250
APPL,Linda,130
APPL,Mike,750
APPL,Chris,350

In [3]:
# Create a view or table

temp_table_name = "sales_info_csv"

df.createOrReplaceTempView(temp_table_name)

In [4]:
%sql

/* Query the created temp table in a SQL cell */

select * from `sales_info_csv`

_c0,_c1,_c2
Company,Person,Sales
GOOG,Sam,200
GOOG,Charlie,120
GOOG,Frank,340
MSFT,Tina,600
MSFT,Amy,124
MSFT,Vanessa,243
FB,Carl,870
FB,Sarah,350
APPL,John,250
APPL,Linda,130
APPL,Mike,750
APPL,Chris,350

In [5]:
# With this registered as a temp view, it will only be available to this particular notebook. If you'd like other users to be able to query this table, you can also create a table from the DataFrame.
# Once saved, this table will persist across cluster restarts as well as allow various users across different notebooks to query this data.
# To do so, choose your table name and uncomment the bottom line.

permanent_table_name = "sales_info_csv"

# df.write.format("parquet").saveAsTable(permanent_table_name)

In [6]:
df = spark.read.csv('/FileStore/tables/sales_info.csv', inferSchema = True, header = True)

In [7]:
df.show()

In [8]:
df.printSchema()

In [9]:
df.groupby('Company').mean().show()
# df.groupby('Company').min().show()
# df.groupby('Company').count().show()

In [10]:
df.agg({'Sales':'sum'}).show()

In [11]:
group_data = df.groupby('Company')
group_data.agg({'Sales':'max'}).show()

In [12]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [13]:
df.select(countDistinct('Sales')).show()
df.select(avg('Sales').alias('Avg Sales')).show()

In [14]:
df.select(stddev('Sales')).show()

In [15]:
from pyspark.sql.functions import format_number

In [16]:
sales_std = df.select(stddev('Sales').alias('std'))
sales_std.select(format_number('std',2).alias('STD')).show()

In [17]:
df.orderBy('Sales').show()

In [18]:
df.orderBy(df['Sales'].desc()).show()